h2 {
    color: green; 
    text-align: center;
}

body {
    background-image: url("background1.jpg");
}
p {
    font-family: Satisfy, Indie Flower;
}

img {
    float: left;
    margin: 0 0 10px 10px;
}

div{
    
    clear: left;
}
div.clearfix {
  overflow: auto;
}