h2 {
    color: green; 
    text-align: center;
}

.header {
    background: url("header.jpg");
    background-position: top;
    background-size: cover;
    text-align: right;
}
nav ul {
  list-style: none;

#main a {
    display: inline-block;
    
    
    
    
    
p {
    font-family: 

img {
    float: left;
    margin: -5px 18px 10px 10px;
}

div {
    
    clear: left;

}

div.container {
    float: right;
}